{% extends "registration/base.html" %}
{% load i18n %}

{% load staticfiles %}
{% block title %}{% trans "Decrypt a message" %}{% endblock %}

{% block content %}
<div class="containerbody"> 
   <h2 class="bluetitle">{% trans "Decrypt a message" %}</h2>
  <script src="{% static "registration/js/vendor/jquery-1.9.1.min.js" %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static "utils/js/gpg.js" %}" type="text/javascript" charset="utf-8"></script>
<p><span style="font-size:12pt">{% trans "Enter the key password and paste a secure message. We do not store this password in our system, only you know." %}</span></p>
	<div class="form">
	   <form action="#" method="post" onSubmit="dencrypt(); return false" name="myform" id="myform">
	    {% csrf_token %}
	    <div class="form-group">
	    	<label for="id_email" class="labelform" >KeyPassword: </label><input  id="id_keypassword" class="inputform" type="password" name="keypassword" />
	    </div>
		<div class="form-group"> 
	    	<label for="id_message" class="labelform">Your message: </label><textarea  id="id_message" class="inputtextform" name="message"></textarea>
	    </div>
	    <div class="form-group">
			<input class="btn-download center" type="submit" value="{% trans 'Decipher' %}" /></p>
		</div>
		  <div class="form-group">
		<input type="hidden" name="privkey" id="privkey" value="{{privkey}}"/>
		<input type="hidden" name="uuidenc" id="uuidenc" value="{{uuidenc}}"/>
	    </div>
	   </form>
	
	</div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}