{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

{% if user.is_authenticated %}
<div class="containerbody"> 
<hr>
<table width="100%">
	<tr>
		<td align="left">
		<span style="font-size:12pt">{% trans "Download the extension:       " %}</span>  <a class="btn-download" href="javascript:alert('Download your custom extension')" >{% trans 'Chrome' %} </a>  <a class="btn-download" href="javascript:alert('Download your custom extension')" >{% trans 'Firefox' %}</a>
		</td>
		<td align="right">
		<span style="font-size:12pt">{% trans "Invite a friend:       " %}</span><a class="btn-download" href="{% url 'invite_user' %}" >{% trans 'Invite User' %}</a>
		</td>
	</tr>
</table>
<hr>
<p class="downmessage">You need a customization for your business?</p>
              	<div class="downmessage">
             	 		<a class="btn-download" href="https://docs.google.com/a/talsoft.com.ar/spreadsheet/viewform?formkey=dFFuNkFzY3JFaEFrWXdEMDdIcm4xdmc6MA#gid=0" data-ga-category="GetStarted" data-ga-action="GetStarted - top" data-ga-label=""> <strong>Contact Us</strong></a>
              	</div>
              	
<!-- 	<table width="100%">
	<tr>
		<td>
			<span style="font-size:14pt"><strong>{% trans "Cipher a secure message without plugin" %}</strong></span>
		</td>
	</tr>
	<tr>
		<td>
			<p><span style="font-size:12pt"><strong>{% trans "Step 1- " %}</strong>{% trans "Write and Cipher a secure message:" %}</span></p>
			
		</td>
	</tr>
	<tr>
		<td>
			<p><span style="font-size:12pt"><strong>{% trans "Step 2- " %}</strong>{% trans "Copy the secure message and paste to send it to a web application, for example gmail, facebook,etc." %}</span></p>
		</td>
	</tr>
	<tr>
		<td>
		<hr>
			<span style="font-size:14pt"><strong>{% trans "Decrypt a secure message without plugin" %}</strong></span><a class="get_title" href="{% url 'decipher_message_create' %}" >{% trans 'Decrypt' %}</a>
		</td>
	</tr>
</table>-->
	<hr>
<strong>Steps:</strong><br>
1. Register http://www.enigmagpg.com<br>
2. Login in and download extension browser.<br>
3. Invite contacts.<br>
<br>
<strong>Write a message:</strong><br>
1. Right-mouse click and go to Enigma GPG-> Cipher<br>
2. Select a contact and write a messages<br>
3. Copy and paste your cipher message in you gmail, facebook, o another web application.<br>
<br>
<strong>Read a message:</strong><br>
1. Right-mouse click and go to Enigma GPG-> Decipher<br>
2. Enter the Password.<br>
3. Paste message to Decipher EnigmaGPG.<br>
 <hr>

 <div class="grid"> 
                    <div class="grid-cell"> 
                        <h3><span class="star"><img src="{% static "registration/img/but1.png" %}"/>&nbsp;</span> Simple, Secure & Free Software</h3> 
                        <p>EnigmaGPG is a messenger platform simple, secure and user friendly for your business or friends.<br> <strong>You can share, enhance, modify the source code for your business </strong>.</p> 
                    </div> 
                    <div class="grid-cell"> 
                        <h3><span class="star"><img src="{% static "registration/img/but2.png" %}"/>&nbsp;</span> Data Encryption and Decryption</h3> 
                        <p>Allows communication messages private and confidential using public and private keys to encrypt and sign information.<br> <strong>Does not store messages. Manage your public and private keys centrally.</strong></p> 
                    </div> 
                    <div class="grid-cell"> 
                        <h3><span class="star"><img src="{% static "registration/img/but3.png" %}"/>&nbsp;</span> Mobile</h3> 
                        <p>Available for mobile devices through iOS and Android application.</p> 
                    </div> 
                    <div class="grid-cell"> 
                        <h3><span class="star"><img src="{% static "registration/img/but4.png" %}"/>&nbsp;</span> Appliance EnigmaGPG</h3>
                        <p><strong>Install, configure and manage a secure messaging platform for your business </strong>or group of friends.</p> 
                    </div> 
                </div> 
</div>
{% endif %}
{% endblock %}

{% block footer %}
{% endblock %}
