{% extends "registration/base.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"></div>{% endblock %}

{% block title %}{% trans 'Password reset complete' %}{% endblock %}

{% block content %}
<div class="containerbody"> 
  <h2 class="bluetitle">{% trans 'Password reset complete' %}</h2>
<p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>

<p><a href="{{ login_url }}">{% trans 'Log in' %}</a></p>
</div>
{% endblock %}


{% block content-related %}

{% endblock %}